html {
  font-family: 'M PLUS Rounded 1c'; }

a {
  text-decoration: none; }

.block {
  background-color: #FAFAFA; }

ul {
  list-style-type: none; }

body {
  background-color: #fff;
  font-style: normal; }
  body div#app .container {
    margin: auto;
    max-width: 300px; }
    body div#app .container .row img {
      width: 240px;
      height: 240px; }
    body div#app .container .row ul li {
      font-size: 12px; }
      body div#app .container .row ul li .item {
        display: inline; }
      body div#app .container .row ul li a.title {
        font-size: 14px; }
    body div#app .container h1 {
      font-weight: 900;
      font-size: 28px; }
    body div#app .container h2 {
      font-weight: 800;
      font-size: 21px; }
    body div#app .container .extra-bold {
      font-weight: 800; }
    body div#app .container p, body div#app .container .medium {
      font-weight: 500; }
    body div#app .container form label {
      font-weight: 500;
      font-size: 14px; }
    body div#app .container form input::placeholder {
      font-weight: 500;
      font-size: 14px; }
