:root {
  --body-color: #fff;
  --block-color: #FAFAFA;
  --button-color: #212121;
  --value-font-color: #000;
  --key-font-color: #A8A8A8;
  --small-icon-color: #A8A8A8;
}
[data-theme="dark"]{
  --body-color: #212121;
  --block-color: #292929;
  --button-color: #fff;
  --value-font-color: #fff;
  --key-font-color: #656565;
  --small-icon-color: #656565;
}
html{
  font-family: 'M PLUS Rounded 1c';
}

body{
  background-color: var(--body-color);
  font-style: normal;
  div#app {
    .container{
      position: relative;
      margin: 80px 350px 229px 297px;
      .theme-icon-div{
        position: absolute;
        top: 0px;
        right: 0px;
      }
      h1{
        margin-bottom: 122px;
        color: var(--value-font-color);
      }
      h2{
        margin-bottom: 48px;
        color: var(--value-font-color);
      }

      .row {
        margin-top: 80px;
        display: flex;

        div.column-info {
          img.img-block {
            width: 240px;
            height: 240px;
            background-color: var(--block-color);
            border-radius: 8px;
            margin-bottom: 34px;
          }

          div.img-block {
            width: 240px;
            height: 240px;
            background-color: var(--block-color);
            border-radius: 8px;
            margin-bottom: 34px;
          }

          div.fullname-block {
            width: 220px;
            height: 18px;
            background-color: var(--block-color);
            border-radius: 4px;
            margin-bottom: 16px;
          }

          div.company-block {
            width: 132px;
            height: 11px;
            background-color: var(--block-color);
            border-radius: 4px;
            margin-bottom: 16px;
          }

          div.location-block {
            width: 145px;
            height: 11px;
            background-color: var(--block-color);
            border-radius: 4px;
            margin-bottom: 16px;
          }

          div.location-p-block, div.company-p-block, div.fullname-p-block {
            margin-bottom: 16px;
            display: flex;
          }

          div.blog-p-block {
            display: flex;
            align-items: center;
          }

          p.location-key, p.company-key, p.fullname-key, p.blog-key {
            color: var(--key-font-color);
            margin-right: 9px;
          }
          p.location-value, p.company-value, p.fullname-value {
            color: var(--value-font-color);
          }

          div.blog-block {
            width: 116px;
            height: 11px;
            background-color: var(--block-color);
            border-radius: 4px;
          }
        }

        div.column-repos {
          display: flex;
          margin-left: 69px;

          .column-2 {
            margin-left: 16px;
          }

          div.column-1, div.column-2 {
            ul.block {
              background-color: var(--block-color);
              width: 396px;
              height: 113px;
              padding: 16px 66px 16px 24px;
              border-radius: 8px;

              li.description {
                margin-top: 10px;
                margin-bottom: 18px;
                font-size: 12px;
                color: var(--value-font-color);
              }

              li.item-container {
                display: flex;
                align-items: center;
                .forked{
                  padding-right: 0px;
                  padding-left: 0px;
                  color: var(--value-font-color);
                }
                .icon-item:first-child {
                  padding-left: 0px;
                }

                .icon-item:last-child {
                  padding-right: 0px;
                }
              }

              li {
                .title {
                  font-size: 14px;
                }

                .icon-item {
                  display: flex;
                  padding: 0 15px 0 15px;
                  .language,.star,.copy{
                    color: var(--value-font-color);
                  }
                  svg {
                    fill: var(--small-icon-color);
                  }
                }

                .item.medium,.icon-item.medium {
                  font-size: 12px;
                }


                a.title {
                  font-size: 14px;
                }

              }
            }
          }
        }
      }

      form.search-form {
        label {
          font-weight: 500;
          font-size: 14px;
          color: var(--value-font-color);
        }

        .form-group {
          display: flex;
          margin-top: 16px;

          button {
            background-color: var(--button-color);
            border-radius: 8px;
            border: none;
            outline: none;
            padding: 16px;

            svg {
              fill: var(--body-color);
              width: 18px;
              height: 18px;
            }
          }

          input {
            width: 293px;
            border: none;
            outline: none;
            background-color: var(--block-color);
            font-family: 'M PLUS Rounded 1c';
            padding: 17px 0px 17px 16px;
            border-radius: 8px;
            color: var(--value-font-color);

            &::placeholder {
              font-weight: 500;
              font-size: 14px;
              font-family: 'M PLUS Rounded 1c';
              color: var(--value-font-color);
            }

          }
        }
      }
    }
  }
  h1{
    font-weight: 900;
    font-size: 28px;
  }

  h2 {
    font-weight: 800;
    font-size: 21px;
  }
  .extra-bold {
    font-weight: 800;
  }
  p,.medium{
    font-weight: 500;
  }
  a{
    &:hover{
      opacity: 0.8;
    }
    text-decoration: none;
  }
  .error-message{
    color:red;
    margin-top: 16px;
  }

  ul {
    list-style-type: none;
  }
  p{
    margin: 0;
  }
}