$color : #fff;
html{
  font-family: 'M PLUS Rounded 1c';
}
a{
  text-decoration: none;
}
.block{
  background-color: #FAFAFA;
}
ul {
  list-style-type: none;
}
body{
  background-color: $color;
  font-style: normal;
  div#app {

    .container{
      margin: auto;
      max-width: 300px;
      .row{
        img{
          width: 240px;
          height: 240px;
        }
        ul{
          li{
            a{
              font-size: 14px;
            }
            p{
              font-size: 12px;
            }
          }
        }
      }
      h1{
        font-weight: 900;
        font-size: 28px;
      }

      h2 {
        font-weight: 800;
        font-size: 21px;
      }
      .extra-bold {
        font-weight: 800;
      }
      p,.medium{
        font-weight: 500;
      }
      form
      {
        label{
          font-weight: 500;
          font-size: 14px;
        }
        input::placeholder{
          font-weight: 500;
          font-size: 14px;
        }

      }
    }
  }
}